.rating > .container {
    -fx-spacing: 4;
}
.rating > .container > .nonHoverableStar {
    -fx-background-color: transparent;
    -fx-background-image: url("unselected-star.png");
    -fx-padding: 16 16;
    -fx-background-image-repeat: no-repeat;
}
.rating > .container > .nonHoverableStar.strong {
    -fx-background-image: url("selected-star.png");
}