.gameTile:hover {
    -fx-translate-x: 1;
    -fx-translate-y: 1;
    -fx-effect: dropshadow(gaussian, #0093ff, 12, 0.2, 0, 1)

  /*  -fx-rotate: 5;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;*/
}

.toolbar {
    -fx-background-color: lightgray;
}

.card {
    -fx-border-color: black;
    -fx-background-color: lightgray;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.screen {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
